body{

font-family: Arial;
background:#1e293b;
color:white;
text-align:center;

}

.topbar{

display:flex;
justify-content:space-between;
padding:10px 40px;
align-items:center;

}

.roster-box{

display:flex;
gap:10px;

}

table{

margin:auto;
border-collapse:collapse;
margin-top:20px;
background:white;
color:black;

}

th,td{

border:1px solid #444;
padding:6px 10px;

}

th{

background:#ddd;

}

.late{

color:red;
font-weight:bold;

}

.delete-btn{

background:red;
padding:5px 10px;
color:white;
text-decoration:none;

}
