<!DOCTYPE html>
<html>
<head>
<title>First Login Tracker</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h2>Agent First Login Tracker</h2>

<div class="top">

<form action="/upload_roster" method="post" enctype="multipart/form-data">
<input type="file" name="roster">
<button>Upload Roster</button>
</form>

<a href="/delete_roster">Delete Roster</a>

<p>Roster Uploaded : {{roster_time}}</p>

</div>

<hr>

<form method="post" enctype="multipart/form-data">

<input type="file" name="loginfile">

<button>Upload Login Report</button>

</form>

<br>

<a href="/reset">Reset Report</a>
<a href="/export_excel">Export Excel</a>

{% if table %}

<table border="1">

<tr>

<th>Agent</th>
<th>Name</th>
<th>Shift</th>
<th>Late</th>

{% for d in dates %}
<th>{{d}}</th>
{% endfor %}

</tr>

{% for agent,data in table.items() %}

<tr>

<td>{{agent}}</td>
<td>{{data.name}}</td>
<td>{{data.shift}}</td>
<td>{{data.late}}</td>

{% for d in dates %}

<td>

{% if d in data.days %}

{{data.days[d].time}}

{% endif %}

</td>

{% endfor %}

</tr>

{% endfor %}

</table>

{% endif %}

</body>
</html>
