<!DOCTYPE html>
<html>
<head>

<title>Agent Login Dashboard</title>
<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="topbar">

<h2>Agent Login Dashboard</h2>

<div>

<form action="/upload_roster" method="post" enctype="multipart/form-data">
<input type="file" name="roster">
<button>Upload Roster</button>
</form>

<a href="/export_excel" class="btn">Export Excel</a>

</div>

</div>


<form method="post" enctype="multipart/form-data">

<input type="file" name="loginfile">
<button>Upload Login Report</button>

</form>


{% if table %}

<table>

<tr>

<th rowspan="2">UserName</th>
<th rowspan="2">User Full Name</th>
<th rowspan="2">Shift</th>

{% for d in dates %}
<th>{{d.strftime("%A")}}</th>
{% endfor %}

<th rowspan="2">Late Login</th>

</tr>

<tr>

{% for d in dates %}
<th>{{d}}</th>
{% endfor %}

</tr>


{% for agent,data in table.items() %}

<tr>

<td>{{agent}}</td>
<td>{{data.name}}</td>
<td>{{data.shift}}</td>

{% for d in dates %}

{% if d in data.days %}

{% set cell = data.days[d] %}

<td class="{{cell.status}}">{{cell.time}}</td>

{% else %}

<td></td>

{% endif %}

{% endfor %}

<td>{{data.late}}</td>

</tr>

{% endfor %}

</table>

{% endif %}

</body>
</html>
